//sections
section{
  padding:$baseline*2 0;
  background-color:white;
  &.page-header-section{
    background-size:cover;
    padding:$baseline*3 0;
    @include breakpoint(lg){
      padding:$baseline*2 0;
    }
    @include breakpoint(sm){
      padding:$baseline 0;
    }
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center top;
    h1{
      text-shadow:0 1px 13px rgba(0,0,0,.3);
    }
  }
  &.home-infographic{
    h2{
      color:#4ea2b7;
    }
  }
  &.img-bg{
     background-repeat:no-repeat;
     background-size:cover;
     background-position:center center;
  }
  &.off-white-bg{
  	// background:url(../images/off_white_sec_bg.png) repeat-y right;
    background:#fafafa;
    border-bottom:1px solid $medium-gray-color;
    border-top:1px solid $medium-gray-color;
  }
  &.inverse-section{
  	@extend %white_text;
    background-color:shade($link-color,80%);
    a{
      color:white;
      border-color:white;
    }
  }
  &.parallax-window{
    background-color:transparent!important;
  }
  &.founder-section{
  	background:url(../images/company/headshot.png) right bottom no-repeat white;
  	.text-container{
	  	@include breakpoint(sm){
				h1,h2,h3,h4,h5,h6,p,small,li{
			    color:white!important;
			  }
	  		background:rgba(255,102,0,.8);
	  		text-align:center;
	  		padding:$baseline/2;

	  	}
  	}
    @include breakpoint(md){
      background:url(../images/company/headshot.png) 420px bottom no-repeat white;
    }
    @include breakpoint(sm){
      background:url(../images/company/headshot.png) center bottom no-repeat white;
    }
  }
  &.apart-section{
  	background:url(../images/company/apart_bg.png) no-repeat right bottom white;
  	background-size:cover;
  }
  &.icons-section{
  	h5{
  		color:$primary-color;
  	}
    .item{
      padding:$baseline $baseline/2;
      cursor:default;
      @include transition(linear all $base-transition-duration);
      position:relative;
      &:hover{
        box-shadow:0 3px 20px rgba(0, 0, 0, 0.1);
        border-radius:$base-border-radius;
      }
    }
  }
  &.case-study{
    text-align:center;
    background-color:shade($link-color,80%);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    background-attachment:fixed;
    @extend %white_text;
    h2{
      color:$primary-color!important;
    }
    p{
      font-size:1.1em;
    }
  }
  &.logo-rings-section{

    background: url('../images/partners/partners_graphic.png') no-repeat center center $primary-color;
  }
}



