.slider{
	h1,h2{
		color:white;
	}
	h1{
		font-family:$bold-font-name;
		text-transform:uppercase;
	}
	h2{
		font-family:$light-font-name;
		font-style:italic;
	}
}

//layers slider

.ls-fullwidth .ls-nav-prev,.ls-fullwidth .ls-nav-next{
	background-image:url(../images/new_slider_bg.png)!important;
}

.ls-inner{
	background-size:cover!important;

}

@include breakpoint(sm){
	.ls-fullwidth .ls-nav-prev{
		left:0px!important;
	}
	.ls-fullwidth .ls-nav-next{
		right:0px!important;
	}
}